body {
  background-color: rgb(255, 241, 209);
}

h1 {
  color: rgb(32, 0, 0);
  margin-left: 20px;
}
table {
  border-collapse: collapse;
  width: 40%;
}
th {
  background-color: rgb(131, 122, 0);
  color: white;
  height: 50px;
}
td {
  padding: 10px;
}
tr:nth-child(even) {
 background-color: rgb(255, 225, 159);
}
tr:nth-child(odd) {
 background-color: rgb(232, 221, 172);
}


.button {
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
