body {
  background-color: rgb(255, 225, 159);
}

h1 {
  color: rgb(32, 0, 0);
  margin-left: 20px;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th {
  background-color: rgb(131, 122, 0);
  color: white;
  height: 70px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
